body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    background-color: aliceblue;
    padding: 20px;
    }

header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    text-align: center;
    background-color: bisque;
    padding: 20px;
    }

table, th, td {
    border: 1.5px solid black;
    }

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }

nav li {
    display: inline-block;
    margin-right: 20px;
    }

* {
    box-sizing: border-box;
    }

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
    }

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
    }